on:
  release:
    types:
      - published
# pull_request:
#   types:
#     - opened
#     - synchronize
#     - reopened
#   branches-ignore:
#     - "dependabot/**"

name: Release (Docker)
jobs:
  docker:
    runs-on: ubuntu-latest
    env:
      PLATFORMS: "linux/amd64,linux/arm64,linux/arm/v7"
      VERSION: "${{ github.event_name == 'release' && github.event.release.name || github.sha }}"

    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          username: benbjohnson
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - id: meta
        uses: docker/metadata-action@v5
        with:
          images: litestream/litestream
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=sha
            type=sha,format=long
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}

      - uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          provenance: true
          sbom: true
          platforms: ${{ env.PLATFORMS }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            LITESTREAM_VERSION=${{ env.VERSION }}
