on:
  release:
    types:
      - published
# pull_request:
#   types:
#     - opened
#     - synchronize
#     - reopened
#   branches-ignore:
#     - "dependabot/**"

name: Release (Docker)
jobs:
  docker:
    runs-on: ubuntu-latest
    env:
      # CGO cross-compilation supported platforms
      PLATFORMS: "linux/amd64,linux/arm64"
      VERSION: "${{ github.event_name == 'release' && github.event.release.tag_name || github.sha }}"

    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          username: benbjohnson
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # Default (Debian) image
      - id: meta-default
        uses: docker/metadata-action@v5
        with:
          images: litestream/litestream
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=sha
            type=sha,format=long
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}

      - uses: docker/build-push-action@v6
        with:
          context: .
          target: default
          push: true
          provenance: true
          sbom: true
          platforms: ${{ env.PLATFORMS }}
          tags: ${{ steps.meta-default.outputs.tags }}
          labels: ${{ steps.meta-default.outputs.labels }}
          build-args: |
            LITESTREAM_VERSION=${{ env.VERSION }}

      # Hardened (Scratch) image
      - id: meta-scratch
        uses: docker/metadata-action@v5
        with:
          images: litestream/litestream
          flavor: |
            latest=false
          tags: |
            type=ref,event=branch,suffix=-scratch
            type=ref,event=pr,suffix=-scratch
            type=sha,suffix=-scratch
            type=sha,format=long,suffix=-scratch
            type=semver,pattern={{version}},suffix=-scratch
            type=semver,pattern={{major}}.{{minor}},suffix=-scratch

      - uses: docker/build-push-action@v6
        with:
          context: .
          target: hardened
          push: true
          provenance: true
          sbom: true
          platforms: ${{ env.PLATFORMS }}
          tags: ${{ steps.meta-scratch.outputs.tags }}
          labels: ${{ steps.meta-scratch.outputs.labels }}
          build-args: |
            LITESTREAM_VERSION=${{ env.VERSION }}
